{% extends "index.html" %}

{% block content %}

<div class="tasks-container">
<h1>Tasks</h1>

<form method="get">
    <label>Status:</label>
    <select name="status">
        <option value="">All</option>
        {% for s in statuses %}
            <option value="{{ s }}" {% if s == selected_status %}selected{% endif %}>
                {{ s }}
            </option>
        {% endfor %}
    </select>

    <label>Sort by:</label>
    <select name="sort">
        <option value="">Newest</option>
        <option value="due_date" {% if selected_sort == "due_date" %}selected{% endif %}>
            Due Date
        </option>
        <option value="created_at" {% if selected_sort == "created_at" %}selected{% endif %}>
            Created Date
        </option>
    </select>

    <button type="submit">Apply</button>
</form>


<br>

<table>
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Action</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td class="{% if task.status == 'done' %}done{% endif %}">
            {{ task.status }}
        </td>
        <td>{{ task.due_date or "-" }}</td>
        <td>
            {% if task.status != "done" %}
                <a href="/tasks/{{ task.id }}/toggle-status">Mark Done</a>
            {% else %}
               <a href="/tasks/{{ task.id }}/toggle-status">Mark Undone</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">Back to Home</a>

</div>
{% endblock %}
